*:focus, *:active {outline:0 !important;}

.card {
  border-radius: 0 !important;
  border: 0 !important;
}

.expressions {
  background: #2A2D40;
  color: #fff;
  overflow: auto;
  max-height: 100vh;

  ul li {
    display: flex;
    align-items: center;
    height: 30px;
  }

  &--header {
    height: 5vh;
    padding: 1rem !important;
    min-height: 45px;
    max-height: 5vh;
    text-transform: uppercase;
    font-weight: bold !important;
    letter-spacing: 1px;
  }

  &--expressionsTypes {
    background: #2A2D40 !important;
    padding: 0 20px !important;
    border: 1px solid #3C405B;

    button {
      outline: none;
      color: white;
      position: relative;
    }

    button:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 20px;
      left: -5px;
      top: 13px;
      z-index: 10;
    }

    &__menu {
      padding: 0 !important;
      background: #3C405B;

      ul li {
        height: 40px;
      }

      button {
        outline: none;
        padding: 0 0 0 30px !important;
        font-size: 16px;
        border: none;
        color: white;
      }
    }
  }

  &--categories {
    background: #3C405B !important;
    padding: 0 !important;
    margin: 0 !important;

    h2 {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 30px;
    }

    .button[aria-expanded="true"] {
      color: #EF7A57;
    }

    button {
      outline: none;
      padding: 0 !important;
      font-size: 16px;
      border: none;
      color: white;
    }

    .button[aria-expanded="true"] + .arrow {
      margin-left: auto;
      border: solid #EF7A57;
      margin-top: 3px;
      border-width: 0 3px 3px 0;
      transform: rotate(-135deg);
    }

    &__menu {
      padding: 5px 5px 5px 25px !important;
      background: #606482;

      ul li {
        height: 30px;
      }

      button {
        padding: 0 0 0 20px !important;
        background: #606482;
        font-size: 16px;
        outline: none;
        border: none;
        color: white;
      }
    }
  }

  .Variables:after {background-color: #7BC600;}
  .ControlandLoops:after {background-color: #ef5757;}
  .Filters:after {background-color: #F5B855;}

  .button {
    display: flex;
    align-items: center;
    height: 45px;
    color: white;
    position: relative;
    vertical-align: center;
    font-size: 16px;
  }

  .arrow {
    margin-left: auto;
    border: solid #2A2D40;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(45deg);
  }
}

