*:focus, *:active {outline:0 !important;}

.card {
  border-radius: 0 !important;
  border: 0 !important;
  background: #3C405B;
}

.expressions {
  background: #2A2D40;
  color: #fff;
  overflow: auto;
  max-height: 100vh;

  ul li {
    display: flex;
    align-items: center;
    height: 30px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--header {
    height: 5vh;
    padding: 1rem !important;
    min-height: 45px;
    max-height: 5vh;
    text-transform: uppercase;
    font-weight: bold !important;
    letter-spacing: 1px;
  }

  .arrow {
    margin-left: auto;
    border: solid #424457;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }

  .expanded + .arrow {
    margin-left: auto;
    border: solid #ffa586;
    margin-top: 3px;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
  }

  button {
    text-align: inherit;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &--expressionsTypes {
    background: #2A2D40 !important;
    padding: 0 20px !important;
    border: 1px solid #3C405B;

    button {
      outline: none;
      color: white;
      position: relative;
    }

    button:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 20px;
      left: -5px;
      top: 13px;
      z-index: 10;
    }

    &__menu {
      padding: 0 !important;
      background: #3C405B;

      ul li {
        height: 35px;
      }

      button {
        padding: 0 0 0 20px !important;
        outline: none;
        font-size: 16px;
        border: none;
        color: white;
      }
    }
  }

  &--categories {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 !important;
    height: 35px !important;

    button {
      outline: none;
      padding: 0 !important;
      font-size: 16px;
      border: none;
      color: white;
    }

    .arrow {
      border: solid #2A2D40;
      border-width: 0 3px 3px 0;
    }

    &__menu {
      padding: 5px 0 0 0 !important;
      background: #484c68;

      ul li {
        padding: 0 20px;
        height: 30px;
      }

      .card {
        background: #484c68 !important;

        & .card-body {
          background: #606482 !important;

          ul li {
            padding: 0 30px;
            height: 30px;
          }
        }
      }

      button {
        padding: 0 0 0 15px !important;
        font-size: 16px;
        outline: none;
        border: none;
        color: white;
      }
    }
  }

  .Variables:after {background-color: #7BC600;}
  .ControlandLoops:after {background-color: #ef5757;}
  .Filters:after {background-color: #F5B855;}

  .button {
    display: block;
    height: 45px;
    color: white;
    position: relative;
    vertical-align: center;
    font-size: 16px;
  }
}

.expanded {
  color: #ffa586 !important;
}

li .isVariableUsed {
  display: none;
  font-size: 10px;
  color: #0fc61b;
  margin-right: 9px;
  text-transform: uppercase;
}