//  mvn com.github.warmuuh:libsass-maven-plugin:0.2.10-libsass_3.5.3:watch
@import "expressionsReferencesComponent";       // Styling for expressions (react component)
@import "expressionEditor/editorContainer";     // Editor area
@import "checkBox";                             // Styling for checkboxes
@import "buttons";                              // Styling for buttons
@import "referenceModal";                       // Styling Reference Modal

// Bootsrap css
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

h3 {
  font-size: 14px !important;
  font-weight: 600 !important;
  margin: 0 !important;
  padding: 0 !important;
  display:table-cell;
  vertical-align:middle;
  align-self: center;
}