@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
*:focus, *:active {
  outline: 0 !important; }

.card {
  border-radius: 0 !important;
  border: 0 !important;
  background: #3C405B; }

.expressions {
  background: #2A2D40;
  color: #fff;
  overflow: auto;
  max-height: 100vh; }
  .expressions ul li {
    display: flex;
    align-items: center;
    height: 30px; }
  .expressions .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .expressions--header {
    height: 5vh;
    padding: 1rem !important;
    min-height: 45px;
    max-height: 5vh;
    text-transform: uppercase;
    font-weight: bold !important;
    letter-spacing: 1px; }
  .expressions .arrow {
    margin-left: auto;
    border: solid #424457;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg); }
  .expressions .expanded + .arrow {
    margin-left: auto;
    border: solid #ffa586;
    margin-top: 3px;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg); }
  .expressions button {
    text-align: inherit; }
    .expressions button::first-letter {
      text-transform: uppercase; }
  .expressions--expressionsTypes {
    background: #2A2D40 !important;
    padding: 0 20px !important;
    border: 1px solid #3C405B; }
    .expressions--expressionsTypes button {
      outline: none;
      color: white;
      position: relative; }
    .expressions--expressionsTypes button:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 20px;
      left: -5px;
      top: 13px;
      z-index: 10; }
    .expressions--expressionsTypes__menu {
      padding: 0 !important;
      background: #3C405B; }
      .expressions--expressionsTypes__menu ul li {
        height: 40px; }
      .expressions--expressionsTypes__menu button {
        padding: 0 0 0 20px !important;
        outline: none;
        font-size: 16px;
        border: none;
        color: white; }
  .expressions--categories {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 !important;
    height: 40px !important; }
    .expressions--categories button {
      outline: none;
      padding: 0 !important;
      font-size: 16px;
      border: none;
      color: white; }
    .expressions--categories .arrow {
      border: solid #2A2D40;
      border-width: 0 3px 3px 0; }
    .expressions--categories__menu {
      padding: 5px 0 0 0 !important;
      background: #484c68; }
      .expressions--categories__menu ul li {
        padding: 0 20px;
        height: 30px; }
      .expressions--categories__menu .card {
        background: #484c68 !important; }
        .expressions--categories__menu .card .card-body {
          background: #606482 !important; }
          .expressions--categories__menu .card .card-body ul li {
            padding: 0 30px;
            height: 30px; }
      .expressions--categories__menu button {
        padding: 0 0 0 15px !important;
        font-size: 16px;
        outline: none;
        border: none;
        color: white; }
  .expressions .Variables:after {
    background-color: #7BC600; }
  .expressions .ControlandLoops:after {
    background-color: #ef5757; }
  .expressions .Filters:after {
    background-color: #F5B855; }
  .expressions .button {
    display: block;
    height: 45px;
    color: white;
    position: relative;
    vertical-align: center;
    font-size: 16px; }

.expanded {
  color: #ffa586 !important; }

li .isVariableUsed {
  display: none;
  font-size: 10px;
  color: #0fc61b;
  margin-right: 9px;
  text-transform: uppercase; }

select {
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 14px !important;
  border-bottom: 1px solid #2A2D40;
  background: transparent !important; }

.navBar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin: 0 !important;
  min-height: 45px;
  max-height: 5vh; }
  .navBar h3 {
    margin-right: 0.5rem; }

.CodeMirror {
  width: 100%;
  height: auto !important;
  overflow: hidden;
  max-width: 800px;
  min-height: 350px; }

.editor-window {
  display: flex;
  height: 85%;
  overflow-x: auto;
  overflow-y: auto;
  margin-bottom: auto;
  border: 2px solid #f0e8e8; }
  .editor-window--title {
    height: 30px;
    width: 100%;
    background: #f0e8e8;
    max-height: 25%; }

.errors {
  height: 15%;
  border: 2px solid #f0e8e8;
  max-height: 15%; }
  .errors--title {
    height: 30px;
    max-height: 25%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 1rem !important;
    background: #f4f0f0; }

#errorArea {
  height: max-content;
  color: brown;
  overflow: auto;
  max-height: 75%; }

iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
  border: 2px solid #f0e8e8; }

.editor-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .25rem 0 .25rem .25rem;
  height: 95vh;
  min-height: 420px; }

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
  /* Styling Checkbox Starts */ }
  .checkbox-container .input-title {
    margin-left: 5px !important;
    clear: both;
    font-size: 18px; }
  .checkbox-container .checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    height: 20px;
    width: 24px;
    clear: both; }
    .checkbox-container .checkbox-label input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
    .checkbox-container .checkbox-label .checkbox-custom {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 20px;
      width: 20px;
      background-color: transparent;
      transition: all 0.3s ease-out;
      border: 1px solid grey; }
    .checkbox-container .checkbox-label input:checked ~ .checkbox-custom {
      background-color: #FFFFFF;
      transform: rotate(0deg) scale(1);
      opacity: 1;
      border: 1px solid #EF7A57; }
    .checkbox-container .checkbox-label .checkbox-custom::after {
      position: absolute;
      content: "";
      left: 10px;
      top: 10px;
      height: 0px;
      width: 0px;
      border: solid #EF7A57;
      border-width: 0 3px 3px 0;
      transform: rotate(0deg) scale(0);
      opacity: 1;
      transition: all 0.3s ease-out; }
    .checkbox-container .checkbox-label input:checked ~ .checkbox-custom::after {
      transform: rotate(45deg) scale(1);
      opacity: 1;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 11px;
      border: solid #EF7A57;
      border-width: 0 2px 2px 0;
      background-color: transparent;
      border-radius: 0; }
    .checkbox-container .checkbox-label .checkbox-custom::before {
      position: absolute;
      content: "";
      left: 10px;
      top: 10px;
      width: 0px;
      height: 0px;
      border: 1px solid #EF7A57;
      transform: scale(0); }
    .checkbox-container .checkbox-label input:checked ~ .checkbox-custom::before {
      left: -3px;
      top: -3px;
      width: 20px;
      height: 20px;
      transform: scale(3);
      opacity: 0;
      z-index: 999;
      transition: all 0.3s ease-out; }

button {
  outline: none;
  background: none;
  border: none;
  color: #2A2D40;
  font-size: 14px; }
  button img {
    height: 16px;
    vertical-align: middle;
    padding-bottom: 3px; }
  button:hover {
    color: #EF7A57 !important; }
  button:hover .btn-icon {
    filter: invert(55%) sepia(86%) saturate(1060%) hue-rotate(326deg) brightness(101%) contrast(87%); }

/* Submit button */
.submit-btn {
  background: #EF7A57;
  color: white;
  font-weight: 600; }
  .submit-btn:hover {
    background: #f5886c;
    color: white !important; }
  .submit-btn img, .submit-btn:hover .btn-icon {
    filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(261deg) brightness(103%) contrast(105%); }

/* Cancel button */
.cancel-btn {
  font-weight: 600;
  background: #E7E7E7;
  color: #2A2D40; }

.modal-content .modal-title {
  margin: 0;
  font-size: 18px !important;
  padding: 10px 0 0 15px !important;
  color: #B5B5B5;
  text-transform: uppercase; }

.modal-content .modal-body {
  padding: 0 20px 10px 0 !important; }

.modal-content #referenceDescription {
  width: 100%;
  font-size: 14px; }
  .modal-content #referenceDescription p {
    margin: 0px;
    padding: 5px 5px 0px 40px;
    width: 100%;
    line-height: 1.2rem; }

.modal-content #referenceOutput {
  color: darkslategrey; }

.modal-content h4 {
  margin: 0;
  font-size: 16px !important;
  padding: 10px 0 0 15px !important;
  color: #B5B5B5; }

.modal-content ul {
  margin: 5px 10px;
  padding: 3px 10px 3px 30px; }
  .modal-content ul li {
    color: darkslategrey; }

.modal-content span {
  color: indianred; }

.modal-content pre {
  margin: 5px 10px;
  padding: 3px 10px 3px 30px;
  background: #eeffed;
  font-size: 14px;
  color: darkslateblue; }

h3 {
  font-size: 14px !important;
  font-weight: 600 !important;
  margin: 0 !important;
  padding: 0 !important;
  display: table-cell;
  vertical-align: middle;
  align-self: center; }

/*# sourceMappingURL=../../../../../target/main.css.map */