/* Toolbox css */

*:focus, *:active {outline:0 !important;}

.card {
    border-radius: 0 !important;
    border: 0 !important;
}

ul li {
    display: flex;
    align-items: center;
    height: 30px;
}

.toolbox {
    background: #2A2D40;
    color: #fff;
    overflow: auto;
    max-height: 100vh;
}

.toolbox--header {
    height: 5vh;
    min-height: 45px;
    max-height: 5vh;
}

.toolbox--expressionsTypes {
    background: #2A2D40 !important;
    padding: 0 20px !important;
    border: 1px solid #3C405B;
}

.toolbox--expressionsTypes button {
    outline: none;
    color: white;
    position: relative;
}

.toolbox--expressionsTypes button:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 20px;
    left: -5px;
    top: 13px;
    z-index: 10;
}

.toolbox--expressionsTypes__menu {
    padding: 0 !important;
    background: #3C405B;
}

.toolbox--expressionsTypes__menu ul li {
    height: 40px;
}

.toolbox--expressionsTypes__menu button {
    outline: none;
    padding: 0 0 0 30px !important;
    font-size: 16px;
    border: none;
    color: white;
}

.toolbox--element button:hover,
.toolbox--expressionsTypes__menu button:hover {
    color: #EF7A57;
}



.toolbox--categories {
    background: #3C405B !important;
    padding: 0 !important;
    margin: 0 !important;
}

.toolbox--categories h2 {
    height: 40px;
    display: flex;
    align-items: center;
}

.toolbox--categories__menu {
    padding: 5px 20px !important;
    background: #606482;
}

.toolbox--categories__menu button {
    padding: 0 0 0 20px !important;
    background: #606482;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
}

.Variable:after {background-color: #7BC600;}
.ControlandLoops:after {background-color: #EF7A57;}
.Filters:after {background-color: #F5B855;}

.button {
    display: flex;
    align-items: center;
    height: 45px;
    color: white;
    position: relative;
    vertical-align: center;
    font-size: 16px;
}

button {
    outline: none;
    background: none;
    border: none;
}