<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Editor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--  CodeMirror  -->
    <link rel="stylesheet" href="plugin/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="plugin/codemirror/theme/darcula.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!--  Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid px-0 py-0">
    <!--   Editor navigation  -->
    <form action="#" th:action="@{/result}" target="resultFrame" th:object="${snippet}" method="post">
        <div class="row ml-0 mr-0 justify-content-between header">
            <div class="col-6 px-0 py-0">
                <div class="row ml-0 mr-0 justify-content-between">
                    <div class="row ml-0 mr-auto">
                        <h3 class="mr-2">Format: </h3>
                        <select id="editorType" onchange="editorChangeHandler(this);" th:field="*{editor}">
                            <option selected value="freemarker">Freemarker</option>
                            <option value="#">-----</option>
                            <option value="html">HTML</option>
                            <option value="markdown">Markdown</option>
                            <option value="#">------</option>
                            <option value="xml">XML</option>
                            <option value="json">JSON</option>
                            <option value="csv">CSV</option>
                        </select>
                        <input type="checkbox" id="WYSISWIG" value="WYSISWIG"/>
                        <label for="WYSISWIG">WYSISWIG</label>
                        <input type="checkbox" id="eval" value="Evaluate"/>
                        <label for="eval">Evaluate</label>
                    </div>

                    <button type="reset" class="btn btn-secondary">Refresh</button>
                    <button type="reset" class="btn btn-secondary ml-2 mr-2">Save</button>
                    <button type="submit" class="btn btn-primary">Evaluate</button>
                </div>
            </div>
            <div class="col-6 px-0 py-0">
                <div class="row ml-0 mr-0">
                    <h3 class="mr-3">Result: </h3>
                    <select id="resultType" onchange="editorChangeHandler(this);" th:field="*{resultType}">
                        <option value="text">Text</option>
                        <option value="html">HTML</option>
                        <option value="xml">XML</option>
                        <option selected value="json">JSON</option>
                        <option value="csv">CSV</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row ml-0 mr-0">
            <!--   Editor column  -->
            <div class="col-6 px-1 py-1 editor-side-column">
                <!--  Editors  -->
                <div class="editor-window mb-auto">
                    <textarea id="freemarkerArea" th:field="*{freemarkerText}"></textarea>
                    <textarea id="markDownArea" th:field="*{markdownText}"></textarea>
                </div>

                <div class="error-window">
                    <h1>Problems</h1>
                    <div id="errorArea">Problems will be here!</div>
                </div>
            </div>

            <!--  Result column  -->
            <div class="col-6 px-1 py-1 editor-side-column">
                <!--  iFrame  -->
                <iframe id="code" name="resultFrame"></iframe>
            </div>

        </div>
    </form>
</div>

<!-- JavaScript files -->
<script type="text/javascript" src="plugin/codemirror/lib/codemirror.js"></script>
<!-- Freemarker Syntax -->
<script type="text/javascript" src="plugin/codemirror/mode/freemarker/freemarker.js"></script>
<!-- Markdown Syntax -->
<script type="text/javascript" src="plugin/codemirror/mode/markdown/markdown.js"></script>
<script type="text/javascript" src="plugin/codemirror/mode/gfm/gfm.js"></script>
<!-- Codemirror addons -->
<script type="text/javascript" src="plugin/codemirror/addon/mode/overlay.js"></script>
<script type="text/javascript" src="plugin/codemirror/addon/selection/active-line.js"></script>

<!-- App JS -->
<script type="text/javascript" src="js/app.js"></script>

<!-- Javascript Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>